.root {
    background-color: white;
    border-radius: 10px;
    padding: 5px, 5px, 5px, 5px;
}

.error-message {
    color: red;
}

.title {
    color: white;
    font-size: 2rem;
    text-align: center;
}