.post-card {
	height: 350px;
	border-radius: 3px;
	margin-bottom: 30px;
}

.post-card-header {
	text-align: center;
	font-size: 20px;
	background-color: #2E3440;
	color: white;
}

.post-card-body {
	background-color: #2E3440;
}


.post-card-content {
	color: white;
}

.post-card-description {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}